$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-color: #f6f6f6;

body {
    margin: 0;
    padding: 0;
    width: 100%;

}

.main-container {

    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'Roboto';
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: white;


}

header {

    padding-top: 30px;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: relative;
    }


    .fa-arrow-left {
        display: block;
        position: absolute;
        left: 20px;
    }

    .logo {
        width: 50%;
    }
}


.img_restau {
    width: 100%;
    height: 30rem;
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: -60px;

    img {
        width: 100%;
        object-fit: cover;
        margin: 0px;
        padding: 0px;
    }

}

.menu {
    width: 100%;
    box-sizing: border-box;
    background-color: $bg-color;
    border-radius: 35px 35px 0 0;
    padding: 20px 10px;
    margin: 0px;
    position: relative;


}

/*******************************  

  apparition des menus 

 *******************************/

.entrees {
    transform: translateX(-3000px);
    animation: dishes_coming 4s forwards;
}

.plats {
    transform: translateX(-3000px);
    animation: dishes_coming 6s forwards;
}

.desserts {
    transform: translateX(-3000px);
    animation: dishes_coming 8s forwards;
}

@keyframes dishes_coming {
    0% {
        opacity: 0;
    }

    100% {
        transform: translateX(20px);
        opacity: 1;
    }
}

/************** fin apparition menus **************/


.name_restau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Shrikhand';
    margin: 0px;

    h1 {
        margin: 0px;
        font-size: 48px;
        font-weight: 300;
        color: #101010;
        padding: 0px 10px;
    }

    i {
        margin-left: 10%;
        font-size: 36px;
        font-weight: 100;
    }
}

h1,
h3,
div {
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: inherit;
}

.texte {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*******************************  

  boutons 
  & animation pour le sélecteur de plats

 *******************************/

.btn {
    width: 100%;
    height: 5rem;
    margin: 30px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lighten($color: $bg-color, $amount: 2);
    border: 1px solid $bg-color;
    border-radius: 25px;
    box-shadow: 1px 1px 15px 1px darken($color: $bg-color, $amount: 1.2);
    color: black;

    &_pink {
        background: radial-gradient(ellipse at top left, $secondary-color, $primary-color);
        color: white;
        font-size: 24px;
        text-align: center;
        justify-content: center;
        border-radius: 25rem;
        width: 40%;
        height: 4rem;
        margin-left: 30%;
    }

    &_menu {
        width: 0px;
        overflow: hidden;
        transition: width 1s ease-in-out, padding 1s ease-in-out;
        background-color: $tertiary-color;
        height: 5rem;
        padding: 15px 0px;
        border-radius: 0 15px 15px 0;
        align-items: center;
        justify-content: center;

        .fa-circle-check {
            overflow: hidden;
            color: lighten($color: $bg-color, $amount: 2);
            font-size: 3rem;
        }
    }
}

.plat:hover .hidden {
    width: 5rem;
    padding: 15px;
}

.plat:hover .btn {
    border-radius: 15px 0px 0px 15px;
}
/************** fin sélecteur de plats *************/

h3 {
    width: 100%;
    margin: 0;
}

div {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}



.entrees,
.plats,
.desserts {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        align-items: center;


    }

    h2 {
        width: 100%;
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 0px;
    }

    .line {
        width: 4rem;
        height: 3px;
        background-color: $tertiary-color;
        margin-left: 0px;
        border: none;

    }


}




.footer {
    background-color: #353535;
    margin: 0px;

    .logo {
        width: 20%;
        filter: invert(100%);
        margin: 30px;
        padding: 0px;

    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 10px 30px;
    }

    i {
        margin: 0px;

    }

    .fa-utensils {
        margin-right: 15px;
    }

    .fa-handshake-angle {
        margin-right: 10px;
    }

    li {
        margin: 10px 0px;
        color: lighten($color: $bg-color, $amount: 2);
    }
}


@media (min-width: 1024px) {

    .menu {
        margin: 0px 10%;
        padding: 10px 10%;
        width: 80%;
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 15px;

        ul {
            display: flex;
            flex-direction: row;
            margin-top: 35px;

            li {
                margin-left: 30px;
            }
        }
    }
}